<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1044777703921-irnf4i1hs19n5tpio1g3a2u1ohmajqo3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044777703921-irnf4i1hs19n5tpio1g3a2u1ohmajqo3</string>
	<key>API_KEY</key>
	<string>AIzaSyDL_fj9MfApHKPDWVLfu8EBBxkL4blgoYU</string>
	<key>GCM_SENDER_ID</key>
	<string>1044777703921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TanyaBerezovsky.SmokieStopie</string>
	<key>PROJECT_ID</key>
	<string>smokie-stopie</string>
	<key>STORAGE_BUCKET</key>
	<string>smokie-stopie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044777703921:ios:10e6beb958dbfe97</string>
	<key>DATABASE_URL</key>
	<string>https://smokie-stopie.firebaseio.com</string>
</dict>
</plist>